<section class="content-area" id="login">
  <div class="grid grid-container--lg gutter--md-xl gutter-row--md top-gutter bottom-gutter"></div>
  <div class="grid grid-container--lg gutter--md-xl gutter-row--md top-gutter bottom-gutter">
    <div class="column--xs-12 column--xl-12">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
        <div class="form-group">
          <label class="control-label" for="usernameInput">Email</label>
          <input
            id="usernameInput"
            class="form-control"
            [(ngModel)]="email"
            (ngModelChange)="error=''"
            name="email"
            type="email"
            placeholder="your@email.com"
            maxlength="120"
            required
            autocomplete="username email"/>
        </div>

        <div class="form-group has-password-toggle">
          <label class="control-label" for="passwordInput">Password</label>
          <input id="passwordInput"
            class="form-control"
            [(ngModel)]="password"
            (ngModelChange)="error=''"
            name="password"
            type="password"
            placeholder="Enter your password"
            required
            minlength="6"
            autocomplete="current-password"/>
          <p class="help-block">Minimum of 6 characters including numerics</p>
        </div>

        <button class="btn btn-primary bottom-gutter btn-width-medium"
                type="submit"
                [disabled]="f.invalid || loading">
          <span class="fa fa-sign-in" aria-hidden="true"></span>
          {{ loading ? 'Logging in…' : 'Login' }}
        </button>

        <div *ngIf="error" class="alert alert-danger top-gutter">{{ error }}</div>
      </form>
    </div>
  </div>
</section>
