.badge {
    padding: 5px 8px;
    height: auto;
    border-radius: 16px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

th.sorting:hover {
    background-color: var(--gray-lightest);
    cursor: pointer;
}

.td-big p {
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.td-medium p {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.td-small p {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}