.badge {
    padding: 5px 8px;
    height: auto;
    border-radius: 16px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}